body {
    background: url(/img/_minflat__dark_material_design_wallpaper__4k__by_dakoder-d8fjqzu.jpg);
    background-size: cover;
    font-family: 'Signika', sans-serif;
    letter-spacing: 1px;
}

.linethrough {
    text-decoration: line-through;
    color: #888;
}
ul {
    list-style-type: none;
    padding: 0;
}
.clock {
    color: #f2f2f2;
    font-size: 100px;
    text-align: center;
}
.prompt-name {
    text-align: center;
    font-size: 30px;
    color: #f2f2f2;
}
input.prompt-input {
    height: 30px;
    outline: none;
    width: 30%;
    font-size: 20px;
    margin-top: 10px;
}

.quote-section {
    color: #f2f2f2;
    font-size: 25px;
    text-align: center;
}
.author {
    padding: 10px 0;
    color: aqua;
    font-size: 20px;
}
.quote-section {
    color: #f2f2f2;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}
input.form-input {
    height: 30px;
    outline: none;
    font-size: 15px;
}
.todo {
    color: #f2f2f2;
}
.quote-section {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.todo {
    color: #f2f2f2;
    position: absolute;
    top: 0;
    padding-top: 20px;
    font-size: 25px;
}
.todoList {
    text-transform: capitalize;
}
.delete {
    border: 1px solid aqua;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.user-greet {
    color: #f2f2f2;
    font-size: 40px;
    padding-bottom: 10px;
    text-align: center;
}